@import '@fontsource/inter/500.css';
@import "tailwindcss";

@layer base {
  * {
    @apply font-sans;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

